<h1> <strong> <%= @movie.title %> </strong> </h1>
<br>
<p> <strong> Rating:</strong> <%= @movie.rating %> </p>
<p> <strong> Description:</strong> <%= @movie.description %> </p>
<p> <strong> Genre:</strong> <%= @movie.genre %> </p>
<p> <strong> Release Date:</strong> <%= @movie.release_date.strftime("%a, %b %e, %Y") %> </p>
<br>
