<h1> <strong> <%= @movie.title %> </strong> </h1>
<br>
<p> <strong> Rating:</strong> <%= @movie.rating %> </p>
<p> <strong> Description:</strong> <%= @movie.description %> </p>
<p> <strong> Genre:</strong> <%= @movie.genre %> </p>
<p> <strong> Release Date:</strong> <%= @movie.release_date.strftime("%a, %b %e, %Y") %> </p>
<br>
<h4>Showings:</h2> 
<% if @movie.showings.any? %> 
  <ul>
  <% @movie.showings.each do |showing| %> 
    <li><strong>
    <%= link_to "#{showing.show_date} #{showing.show_time}", showing %> 
    </strong></li> 
  <% end %> 
  </ul>
<% else %> 
  <p><strong>There are no showings for this movie</strong></p>
<% end %>

<%= link_to "Edit Movie", edit_movie_path(@movie) %>
