<h1>Ticket Details </h1>
<p> <strong> Movie: </strong> <%= link_to @ticket.showing.movie.title , movie_path(@ticket.showing.movie) %> </p>
<p> <strong> Show Date: </strong> <%= @ticket.showing.show_date.strftime('%a, %b %e, %Y') %> </p>
<p> <strong> Show time: </strong>  <%= @ticket.showing.show_time %> </p>
<p> <strong> Ticket type: </strong>  <%= @ticket.ticket_type %> </p>
<p> <strong> Ticket price: </strong>  <%= @ticket.price %> </p>
<br>

<%# Allow theater owners also to cancel tickets in case of issues  %>
    <%= button_to("Cancel Ticket", { action: "destroy", id: @ticket.id }, method: :delete, data: 
    { confirm: 'You are about to cancel this ticket. Are you sure?'}) %>

<br>